<mat-sidenav-container fullscreen>
  <mat-sidenav #leftMenu opened   position="start" mode="side" fixedTopGap="56" >
        <img src="assets/images/lady.png" width="50px" height="">

        <button mat-button>Dashboard</button>
        <button mat-button>Projects</button>
        <button mat-button>Tickets</button>
        <button mat-button>Users</button>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary" >
      <button mat-icon-button color="accent" (click)="leftMenu.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>
    <app-user-profile></app-user-profile>
  </mat-sidenav-content>
</mat-sidenav-container>


